@charset "ISO-8859-1";

.unos {
  background-color: green;
  color: white;
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: 500px;
}

.unos2 {
  background-color: green;
  color: white;
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-right: 500px;
  text-align: right;
  align-content: right;
}

.sub {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

input[type=text], input[type=number]:not(.avs), input[type=password], select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: bold;
}

.tabdugme{
  background-color: rgba(0,0,0,0);
  border: none;
  color: white;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  background-color: #509050;
}

.even {
  background-color: #4CAa50;
}

.tr{
	padding:5px;
	background-color: #60b060;
}

.th{
	padding:5px;
}

html, body {
	margin:0;
	height:100%;
	background-color: rgb(200, 253, 200);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li input {
  background-color: #4CAF50;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0px;
  border: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: #111;
}

input[type=submit]:hover:not(.meni) {
  background-color: #01b601;
}

.meni {
  background-color: #393939;
}

.desno{
	float: right;
}